{% extends "base.html" %}
  
{% block title %}Add New Employee Records{% endblock title %}
  
{% block content %}
<div class="col-md-12">    
    <form method="POST" class="post-form" action="/addnew">  
    {% csrf_token %}  
    <div class="container">  
        <div class="col-12">  
        <h3>Enter Details</h3>  
        </div>    
     
        <div class="mb-3"> 
            <label>Province:</label>  
            {{ form.titile }}   
        </div> 
        <div class="mb-3"> 
            <label>Day travel:</label>  
            {{ form.day_travel }}   
        </div>
        <div class="mb-3"> 
            <label>Budget:</label>  
            {{ form.budget }}   
        </div>
        <div class="mb-3"> 
            <label>Detail:</label>  
            {{ form.detail }}   
        </div>
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Submit</button>    
        </div> 
    </div>  
    </form>  
</div> 
{% endblock content %} 