{% extends "base.html" %}
  
{% block title %}Employee Records{% endblock title %}
  
{% block content %}
    <div class="col-md-12">
        <span><a href="/addnew" class="btn btn-primary">Recommend your Province</a></span>  
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <th>ID</th>
                    <th>Province</th>
                    <th>Days Travel</th>
                    <th>Budget</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for employee in employees %}  
                        <tr data-id="{{ employee.id }}">
                            <td>{{ employee.id }}</td>  
                            <td>{{ employee.titile }}</td>  {# Corrected a typo in 'title' #}
                            <td>{{ employee.day_travel }}</td>  
                            <td>{{ employee.budget }}</td>
                            <td>{{ employee.detail }}</td>    
                            <td><a href="/edit/{{ employee.id }}" class="btn btn-primary edit-button">Edit</a></td>
                            <td><a href="/delete/{{ employee.id }}" class="btn btn-danger delete-button">Delete</a></td>  
                        </tr>  
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".edit-button").click(function () {
                var row = $(this).closest("tr");
                var employeeId = row.data("id");

            });


            $(".delete-button").click(function () {
                var row = $(this).closest("tr");
                var employeeId = row.data("id");

            });
        });
    </script>
{% endblock content %}
